<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    
        <array>
            <array>
                <string>49.433214</string>
                <string>7.752649</string>
            </array>
            <array>
                <string>49.430563</string>
                <string>7.750546</string>
            </array>
            <array>
                <string>49.429991</string>
                <string>7.752306</string>
            </array>
            <array>
                <string>49.432642</string>
                <string>7.754344</string>
            </array>
        </array>
   
   
   <array>
        <array>
            <string>49.430676</string>
            <string>7.757190</string>
        </array>
        <array>
            <string>49.429301</string>
            <string>7.756557</string>
        </array>
        <array>
            <string>49.429839</string>
            <string>7.755162</string>
        </array>
    </array>
    
    
    
    <array>
        <array>
            <string>49.431945</string>
            <string>7.759507</string>
        </array>
        <array>
            <string>49.433215</string>
            <string>7.760344</string>
        </array>
        <array>
            <string>49.433396</string>
            <string>7.761438</string>
        </array>
        <array>
            <string>49.431764</string>
            <string>7.760301</string>
        </array>
    </array>
    
    <array>
        <array>
            <string>49.428851</string>
            <string>7.757444</string>
        </array>
        <array>
            <string>49.429862</string>
            <string>7.758363</string>
        </array>
        <array>
            <string>49.429632</string>
            <string>7.759070</string>
        </array>
        <array>
            <string>49.429050</string>
            <string>7.758811</string>
        </array>
        <array>
            <string>49.428866</string>
            <string>7.759847</string>
        </array>
        <array>
            <string>49.428192</string>
            <string>7.759659</string>
        </array>
    </array>
    
    
    
    
    <array>
        <array>
            <string>49.437438</string>
            <string>7.759522</string>
        </array>
        <array>
            <string>49.438984</string>
            <string>7.763141</string>
        </array>
        <array>
            <string>49.437761</string>
            <string>7.763655</string>
        </array>
        <array>
            <string>49.436654</string>
            <string>7.760262</string>
        </array>
    </array>
    
    
</array>
</plist>
