<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    
        <array>
            <array>
                <string>49.372606</string>
                <string>7.723439</string>
            </array>
            <array>
                <string>49.374038</string>
                <string>7.714967</string>
            </array>
            <array>
                <string>49.370964</string>
                <string>7.710246</string>
            </array>
            <array>
                <string>49.368900</string>
                <string>7.715872</string>
            </array>
            <array>
                <string>49.368985</string>
                <string>7.722857</string>
            </array>
        </array>
   
   
   <array>
        <array>
            <string>49.371887</string>
            <string>7.728293</string>
        </array>
        <array>
            <string>49.370436</string>
            <string>7.733592</string>
        </array>
        <array>
            <string>49.365792</string>
            <string>7.732106</string>
        </array>
        <array>
            <string>49.367275</string>
            <string>7.729778</string>
        </array>
        <array>
            <string>49.369017</string>
            <string>7.726856</string>
        </array>
    </array>
    
    
    
    <array>
        
        
        <array>
            <string>49.374040</string>
            <string>7.728577</string>
        </array>
        <array>
            <string>49.372814</string>
            <string>7.732738</string>
        </array>
        <array>
            <string>49.374878</string>
            <string>7.733778</string>
        </array>
        <array>
            <string>49.376168</string>
            <string>7.730311</string>
        </array>
    </array>
    
    <array>
        <array>
            <string>49.376652</string>
            <string>7.726844</string>
        </array>
        <array>
            <string>49.379038</string>
            <string>7.721297</string>
        </array>
        <array>
            <string>49.376168</string>
            <string>7.717286</string>
        </array>
        <array>
            <string>49.374781</string>
            <string>7.725210</string>
        </array>
    </array>
    
    
    
    
    <array>
        <array>
            <string>49.378393</string>
            <string>7.732490</string>
        </array>
        <array>
            <string>49.378941</string>
            <string>7.733629</string>
        </array>
        <array>
            <string>49.380489</string>
            <string>7.727438</string>
        </array>
        <array>
            <string>49.382455</string>
            <string>7.725012</string>
        </array>
        <array>
            <string>49.380585</string>
            <string>7.723080</string>
        </array>
    </array>
    
    <array>
        <array>
            <string>49.379650</string>
            <string>7.736650</string>
        </array>
        <array>
            <string>49.380231</string>
            <string>7.736056</string>
        </array>
        <array>
            <string>49.380972</string>
            <string>7.737987</string>
        </array>
        <array>
            <string>49.380875</string>
            <string>7.739523</string>
        </array>
        <array>
            <string>49.379973</string>
            <string>7.739523</string>
        </array>
        <array>
            <string>49.379328</string>
            <string>7.737789</string>
        </array>
    </array>
    
    
</array>
</plist>
