<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    
        <array>
            <array>
                <string>49.433454</string>
                <string>7.751754</string>
            </array>
            <array>
                <string>49.433050</string>
                <string>7.750767</string>
            </array>
            <array>
                <string>49.433168</string>
                <string>7.749383</string>
            </array>
            <array>
                <string>49.432519</string>
                <string>7.747495</string>
            </array>
            <array>
                <string>49.430559</string>
                <string>7.750542</string>
            </array>
            <array>
                <string>49.433224</string>
                <string>7.752634</string>
            </array>
        </array>
   
   
   <array>
        <array>
            <string>49.426814</string>
            <string>7.750804</string>
        </array>
        <array>
            <string>49.428920</string>
            <string>7.754085</string>
        </array>
        <array>
            <string>49.427698</string>
            <string>7.757023</string>
        </array>
        <array>
            <string>49.427914</string>
            <string>7.757420</string>
        </array>
        <array>
            <string>49.427314</string>
            <string>7.758364</string>
        </array>
        <array>
            <string>49.426211</string>
            <string>7.756604</string>
        </array>
        <array>
            <string>49.427139</string>
            <string>7.754340</string>
        </array>
        <array>
            <string>49.426814</string>
            <string>7.750804</string>
        </array>
    </array>
    
    
    
    <array>
        <array>
            <string>49.430304</string>
            <string>7.748696</string>
        </array>
        <array>
            <string>49.428964</string>
            <string>7.744641</string>
        </array>
        <array>
            <string>49.427178</string>
            <string>7.744104</string>
        </array>
        <array>
            <string>49.426522</string>
            <string>7.747409</string>
        </array>
        <array>
            <string>49.428560</string>
            <string>7.748138</string>
        </array>
        <array>
            <string>49.429215</string>
            <string>7.747623</string>
        </array>
        
    </array>
    
    <array>
        <array>
            <string>49.429243</string>
            <string>7.756765</string>
        </array>
        <array>
            <string>49.430687</string>
            <string>7.757870</string>
        </array>
        <array>
            <string>49.430973</string>
            <string>7.759125</string>
        </array>
        <array>
            <string>49.431901</string>
            <string>7.759597</string>
        </array>
        <array>
            <string>49.431531</string>
            <string>7.760960</string>
        </array>
        <array>
            <string>49.429565</string>
            <string>7.760599</string>
        </array>
    </array>
    
    
    
    
    <array>
        <array>
            <string>49.433971</string>
            <string>7.763841</string>
        </array>
        <array>
            <string>49.435038</string>
            <string>7.768690</string>
        </array>
        <array>
            <string>49.440636</string>
            <string>7.766107</string>
        </array>
    </array>
    
    <array>
        <array>
            <string>49.436050</string>
            <string>7.751826</string>
        </array>
        <array>
            <string>49.434534</string>
            <string>7.753581</string>
        </array>
        <array>
            <string>49.434670</string>
            <string>7.760837</string>
        </array>
        <array>
            <string>49.437243</string>
            <string>7.759370</string>
        </array>
    </array>
    
    
</array>
</plist>
