<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<array>
			<string>49.430676</string>
			<string>7.757190</string>
		</array>
		<array>
			<string>49.429301</string>
			<string>7.756557</string>
		</array>
		<array>
			<string>49.429839</string>
			<string>7.755162</string>
		</array>
	</array>
	<array>
		<array>
			<string>49.433214</string>
			<string>7.752649</string>
		</array>
		<array>
			<string>49.430563</string>
			<string>7.750546</string>
		</array>
		<array>
			<string>49.429991</string>
			<string>7.752306</string>
		</array>
		<array>
			<string>49.432642</string>
			<string>7.754344</string>
		</array>
	</array>
</array>
</plist>
